doctype html
html
  head
    title โปรแกรมความเสี่ยง verion 0.0.1
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/material.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/ripples.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/roboto.min.css")
    link(rel="stylesheet", href="/libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/libs/nprogress/nprogress.css")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/bootstrap-material-design/dist/js/material.min.js")
    script(src="/libs/bootstrap-material-design/dist/js/ripples.min.js")
    script(src="/libs/paging/jquery.paging.min.js")
    script(src="/javascripts/app.js")
    script(src="/libs/nprogress/nprogress.js")
    script(src="/libs/lodash/lodash.min.js")
    script(src="/libs/moment/min/moment-with-locales.js")
    script(src="/libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
    script(src="/libs/highcharts/highcharts.js")
    script(src="/libs/highchartTable/jquery.highchartTable.js")

    script.
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('input[readonly]').css('background-color', 'white');
            $('input[disabled="disabled"]').css('background-color', 'white');
            $('[data-datepicker]').datetimepicker({
                locale: 'th',
                format: 'DD/MM/YYYY'
            });
            $('[data-timepicker]').datetimepicker({
                format: 'HH:mm'
            });
        })

    block scripts
  body
        nav.navbar.navbar-primary.navbar-fixed-top
              .container
                    .navbar-header
                          button(type="button", data-toggle="collapse", data-taget="#navbar",
                          aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                          a.navbar-brand(href="#")
                                i.fa.fa-exclamation-triangle
                                | &nbsp; KC Risk
                    #navbar.navbar-collapse.collapse
                          ul.nav.navbar-nav
                                li
                                    a(href="/risk_news_admin") หน้าแรก
                                li.dropdown
                                    a(href="#", data-toggle="dropdown", role="button",
                                    aria-haspopup="true", aria-expanded="false").dropdown-toggle
                                        | รายงาน
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href="/report_risk")
                                                i.fa.fa-file
                                                | &nbsp;&nbsp; : รายงานความเสี่ยงแยกประเภทคลีนิค
                                        li
                                            a(href="/report_risk/level")
                                                i.fa.fa-file
                                                | &nbsp;&nbsp; : รายงานความเสี่ยงแยกระดับความรุนแรง
                                        li
                                            a(href="/report_risk/terminal")
                                                i.fa.fa-file
                                                | &nbsp;&nbsp; : รายงานหัวข้อความเสี่ยงตามวันที่
                                        li
                                            a(href="/report_risk/summary_date")
                                                i.fa.fa-file
                                                | &nbsp;&nbsp; : รายงานความเสี่ยงสรุปยอดตามวันที่
                                        li
                                            a(href="/report_risk/summary_department")
                                                i.fa.fa-file
                                                | &nbsp;&nbsp; : รายงานความเสี่ยงสรุปยอดแบบเลือกแผนกที่เกิดความเสี่ยง
                          p.navbar-text.navbar-right #{session.fullname} | #{session.depname}
                          ul.nav.navbar-nav.pull-right
                                li.dropdown
                                    a(href="#", data-toggle="dropdown", role="button",
                                    aria-haspopup="true", aria-expanded="false").dropdown-toggle
                                        i.fa.fa-user
                                    ul.dropdown-menu
                                        li
                                            a(href="/users/admin_profile")
                                                i.fa.fa-edit
                                                | &nbsp;&nbsp; ข้อมูลส่วนตัว
                                        li
                                            a(href="/users/logout")
                                                i.fa.fa-power-off
                                                | &nbsp;&nbsp;ออกจากระบบ

        .container
              .row
                  .col-md-3
                      br
                      .panel.panel-primary
                          .panel-heading
                              h3.panel-title
                                  i.fa.fa-tag
                                  | &nbsp; รายการกิจกรรม
                          .panel-body
                              .ul.nav.nav-pills.nav-stacked
                                  if session.level_user_id==2 || session.level_user_id==3
                                      li
                                          a(href="/admin_risk_today")
                                              i.fa.fa-spinner.fa-pulse.fa-lg.fa-fw
                                              | &nbsp; รายงานความเสี่ยงวันนี้
                                              .badge
                                                  span#dataTotal
                                      li
                                          a(href="/admin_risk_level_month")
                                              i.fa.fa-exclamation-circle
                                              | &nbsp; รายงานความเสี่ยงที่มีระดับความรุนแรงภายในเดือน
                                              .badge
                                                  span#dataTotal_Level
                                  if session.level_user_id==2
                                      li
                                          a(href="/abstract_risk")
                                              i.fa.fa-list-alt
                                              | &nbsp; รายการความเสี่ยง
                                  if session.level_user_id==2 || session.level_user_id==3
                                      li.dropdown
                                          a(href="#", data-toggle="dropdown", role="button",
                                          aria-haspopup="true", aria-expanded="false").dropdown-toggle
                                              i.fa.fa-file-text-o
                                              | &nbsp;&nbsp;รายงาน
                                          ul.dropdown-menu
                                              //li
                                                  a(href="/report_risk/")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานความเสี่ยงแยกประเภทคลีนิค
                                              li
                                                  a(href="/report_risk")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานความเสี่ยงแยกประเภทคลีนิค
                                              li
                                                  a(href="/report_risk/level")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานความเสี่ยงแยกระดับความรุนแรง
                                              li
                                                  a(href="/report_risk/terminal")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานหัวข้อความเสี่ยงตามวันที่
                                              li
                                                  a(href="/report_risk/summary_date")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานความเสี่ยงสรุปยอดตามวันที่
                                              li
                                                  a(href="/report_risk/summary_department")
                                                      i.fa.fa-file
                                                      | &nbsp;&nbsp; : รายงานความเสี่ยงสรุปยอดแบบเลือกแผนกที่เกิดความเสี่ยง
                                      li.dropdown
                                          a(href="#", data-toggle="dropdown", role="button",
                                          aria-haspopup="true", aria-expanded="false").dropdown-toggle
                                              i.fa.fa-area-chart
                                              | &nbsp;&nbsp;กราฟความเสี่ยง
                                          ul.dropdown-menu
                                              li
                                                  a(href="/chart_risk_month")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกรายเดือน
                                              li
                                                  a(href="/chart_risk_department")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกแผนก
                                              li
                                                  a(href="/chart_risk_level_clinic")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกระดับความรุนแรงทาง Clinic
                                              li
                                                  a(href="/chart_risk_level_nonclinic")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกระดับความรุนแรงทาง Non-Clinic
                                              li
                                                  a(href="/chart_risk_program")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกตามโปรแกรมความเสี่ยง
                                              li
                                                  a(href="/chart_risk_select_program")
                                                      i.fa.fa-bar-chart-o
                                                      | &nbsp; : กราฟแสดงการเกิดความเสี่ยงแยกรายเดือนแบบเลือกโปรแกรมความเสี่ยง
                              | &nbsp;
                          if session.level_user_id==2
                              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                                  .panel.panel-primary
                                      #headingOne.panel-heading(role='tab')
                                          // .ul.nav.nav-pills.nav-stacked
                                          if session.level_user_id==2
                                              li.active
                                                  h4.panel-title
                                                      a(style="color:white", role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                                          i.fa.fa-refresh.fa-spin.fa-lg.fa-fw
                                                          | &nbsp; ตั้งค่าระบบ
                                      #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                                          .panel-body
                                              .ul.nav.nav-pills.nav-stacked
                                                      li
                                                          a(href="/program/risk_program")
                                                              i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                                                              | &nbsp; โปรแกรมความเสี่ยง
                                                      li
                                                          a(href="/program/risk_group")
                                                              i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                                                              | &nbsp; หมวดหมู่ความเสี่ยง
                                                      li
                                                          a(href="/detail/risk_group_detail")
                                                              i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                                                              | &nbsp; รายละเอียดความเสี่ยง
                                                      li
                                                          a(href="/detail/search_risk_show")
                                                              i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                                                              | &nbsp; ดูตารางโปรแกรมความเสี่ยง
                                                      li
                                                          a(href="/users/department")
                                                              i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                                                              | &nbsp; จัดการแผนก
                                                      li
                                                          a(href="/users/user")
                                                              i.fa.fa-circle-o-notch.fa-spin.fa-lg.fa-fw
                                                              | &nbsp; จัดการผู้ใช้งาน
                  .col-md-9
                        block content