doctype html
html
  head
    title โปรแกรมความเสี่ยง verion 0.0.1
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/material.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/ripples.min.css")
    link(rel="stylesheet", href="/libs/bootstrap-material-design/dist/css/roboto.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/bootstrap-material-design/dist/js/material.min.js")
    script(src="/libs/bootstrap-material-design/dist/js/ripples.min.js")
    script(src="/libs/paging/jquery.paging.min.js")
    script(src="/javascripts/app.js")
    script(src="/libs/lodash/lodash.min.js")
    script(src="/libs/moment/moment.js")

    script.
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('input[readonly]').css('background-color', 'white');
            $('input[disabled="disabled"]').css('background-color', 'white');
        })

    block scripts

  body
    nav.navbar.navbar-success.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", data-toggle="collapse", data-taget="#navbar",
          aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#")
            i.fa.fa-exclamation-triangle
            | &nbsp; KC Risk
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href="/abstract_risk") หน้าแรก
            li.dropdown
              a(href="#", data-toggle="dropdown", role="button",
              aria-haspopup="true", aria-expanded="false").dropdown-toggle
                | สรุปรายงานความเสี่ยง
                span.caret
              ul.dropdown-menu
                li
                  a(href="/abstract_risk")
                    i.fa.fa-file-text-o
                    |&nbsp;&nbsp; สรุปความเสี่ยง
            li.dropdown
              a(href="#", data-toggle="dropdown", role="button",
              aria-haspopup="true", aria-expanded="false").dropdown-toggle
                | รายงาน
                span.caret
              ul.dropdown-menu
                li
                  a(href="/report_risk")
                    i.fa.fa-file
                    | &nbsp;&nbsp;รายงานความเสี่ยงแยกประเภทคลีนิค
                li
                  a(href="/report_risk/terminal")
                    i.fa.fa-file
                    | &nbsp;&nbsp;รายงานสรุปความเสี่ยง
          p.navbar-text.navbar-right #{session.fullname}
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a(href="#", data-toggle="dropdown", role="button",
              aria-haspopup="true", aria-expanded="false").dropdown-toggle
                i.fa.fa-user
              ul.dropdown-menu
                li
                  a(href="/users/admin_profile")
                    i.fa.fa-edit
                      | &nbsp;&nbsp; ข้อมูลส่วนตัว
                li
                  a(href="/users/logout")
                    i.fa.fa-power-off
                    | &nbsp;&nbsp;ออกจากระบบ
    .container
      .row
        .col-md-3
          br
          .panel.panel-default
            .panel-body
                .ul.nav.nav-pills.nav-stacked
                      if session.level_user_id==2
                          li.active
                            a(href="#")
                              i.fa.fa-fire
                              | &nbsp; สรุปความเสี่ยง/รายงาน
                          li
                            a(href="/abstract_risk")
                              i.fa.fa-file-text-o
                              | &nbsp; สรุปความเสี่ยง
                          li.dropdown
                              a(href="#", data-toggle="dropdown", role="button",
                              aria-haspopup="true", aria-expanded="false").dropdown-toggle
                                  i.fa.fa-file-text-o
                                  | &nbsp;&nbsp;รายงาน
                              ul.dropdown-menu
                                li
                                    a(href="/report_risk")
                                        i.fa.fa-file
                                        | &nbsp;&nbsp;รายงานความเสี่ยงแยกประเภทคลีนิค
                                  li
                                    a(href="/report_risk/terminal")
                                        i.fa.fa-file
                                        | &nbsp;&nbsp;รายงานสรุปความเสี่ยง
          .panel.panel-default
            .panel-body
                .ul.nav.nav-pills.nav-stacked
                    if session.level_user_id==2
                        li.active
                            a(href="#")
                              i.fa.fa-cogs
                              | &nbsp; จัดการโปรแกรมความเสี่ยง
                          li
                            a(href="/program/risk_program")
                              i.fa.fa-cog
                              | &nbsp; โปรแกรมความเสี่ยง
                          li
                            a(href="/program/risk_group")
                              i.fa.fa-cog
                              | &nbsp; หมวดหมู่ อุบัติการณ์/ความเสี่ยง
                          li
                            a(href="/detail/risk_group_detail")
                              i.fa.fa-cog
                              | &nbsp;อุบัติการณ์/ความเสี่ยง
          .panel.panel-default
              .panel-body
                  .ul.nav.nav-pills.nav-stacked
                      if session.level_user_id==2
                          li.active
                            a(href="#")
                                i.fa.fa-cogs
                                | &nbsp; เครื่องมือจัดการระบบพื้นฐาน
                          li
                            a(href="/users/user")
                                i.fa.fa-users
                                | &nbsp; จัดการผู้ใช้งาน
                          li
                            a(href="/users/department")
                                i.fa.fa-users
                                | &nbsp; จัดการแผนก

        .col-md-9
          block content