extends  ../admin_layout
block scripts
    script(src="/javascripts/admin_risk_edit.js")
    script(src="/javascripts/risk_today_admin.js")
    script(src="/javascripts/risk_level_month.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/abstract_risk")
                i.fa.fa-home
                | &nbsp; หน้าหลัก
        li
                i.fa.fa-edit
                | &nbsp; แก้ไขความเสี่ยง :  #{data.detail.topic_risk}
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรอกข้อมูลไม่สมบูรณ์
    ul.nav.nav-tabs(role="tablist")
        li.active(role='presentation')
            a(href="#part1", aria-controls="part1", role="tab", data-toggle="tab")
                | ข้อมูลการเกิดอุบัติการณ์ &nbsp;
                i.fa.fa-arrow-right
        //li(role='presentation')
            a(href='#part2', aria-controls='part2', role='tab', data-toggle='tab')
                | ส่วนที่ 2 &nbsp;
                i.fa.fa-arrow-right
        //li(role='presentation')
            a(href='#part3', aria-controls='part3', role='tab', data-toggle='tab')
                | ส่วนที่ 3 &nbsp;
                i.fa.fa-arrow-right
        //li(role='presentation')
            a(href='#part4', aria-controls='part4', role='tab', data-toggle='tab') ส่วนที่ 4
        li(role='presentation')
            a(href='#part5', aria-controls='part5', role='tab', data-toggle='tab') ทบทวนความเสี่ยง
    .tab-content
        br
        #part1.tab-pane.active(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ข้อมูลการเกิดอุบัติการณ์
                .panel-body
                    input(type="hidden" value="#{data.detail.id}")#txtId
                    .row
                        .col-md-4
                            .form-group
                                label(for="slRisktype") ประเภทอุบัติการณ์
                                select#slRisktype.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.risk_types
                                        if a.id == data.detail.type_risk
                                            option(value="#{a.id}", selected="selected") #{a.name}
                                        else
                                            option(value="#{a.id}") #{a.name}
                        .col-md-4
                            .form-grop
                                label(for="slComplaint") การจำแนกประเภท
                                select#slComplaint.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for b in data.type_complaints
                                        if b.id == data.detail.complaint_type
                                            option(value="#{b.id}", selected="selected") #{b.name}
                                        else
                                            option(value="#{b.id}") #{b.name}
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtTopic") เรื่องหัวข้อความเสี่ยง
                                textarea#txtTopic(type="text", rows="5",placeholder="กรุณาระบุหัวข้อความเสี่ยง").form-control #{data.detail.topic_risk}
                    .row
                        .col-md-3
                            .form-group
                                label(for="txtDate_risk") วันที่เกิดเหตุ
                                //input#txtDate_risk(type="date", value="#{data.detail.date_risk}").form-control
                                #datetimepicker1.input-group(data-datepicker)
                                    input#txtDate_risk.form-control(type='text',value="#{data.detail.date_risk}")
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar
                        .col-md-3
                            .form-group
                                label(for="txtTime_risk") เวลาที่เกิดเหตุ
                                //input#txtTime_risk(type="time", value="#{data.detail.time_risk}").form-control
                                .input-group(data-timepicker)
                                    input#txtTime_risk.form-control(type='text',value="#{data.detail.time_risk}")
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-time
                        .col-md-4
                            .form-group
                                label(for="slDepartment") หน่วยงานที่เกิดความเสี่ยง
                                select#slDepartment.form-control
                                    for f in data.departments
                                        if f.depcode == data.detail.depcode
                                            option(value="#{f.depcode}", selected="selected") #{f.depname}
                                        else
                                            option(value="#{f.depcode}") #{f.depname}
                    .row
                        .col-md-7
                            .form-group
                                label(for="slProgram") Program
                                select#slProgram.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for p in data.programs
                                        if p.id == data.detail.risk_program
                                            option(value="#{p.id}", selected="selected") #{p.program_risk}
                                        else
                                            option(value="#{p.id}") #{p.program_risk}
                    .row
                        .col-md-7
                            .form-group
                                label.radio(for="radioSentinel") Sentinel event case (เหตุการณ์ที่ต้องรอใน 24 ชม.)
                                | &nbsp;&nbsp;&nbsp;
                                if  data.detail.sentinel == "Y"
                                    label(value="Y", style='width:20%')
                                        input#radioYes(type='radio', name='sentinel', checked)
                                        |  ใช่
                                    label(value="N", style='width:20%')
                                        input#radioNo(type='radio', name='sentinel')
                                        |  ไม่
                                else
                                    label(value="Y", style='width:20%')
                                        input#radioYes(type='radio', name='sentinel')
                                        |  ใช่
                                    label(value="N", style='width:20%')
                                        input#radioNo(type='radio', name='sentinel', checked)
                                        |  ไม่
                        .col-md-4
                            .form-group
                                label(for="slDepartment2") หน่วยงานที่รายงาน
                                select#slDepartment2.form-control
                                    for m in data.departments
                                        if m.depcode == data.detail.cc
                                            option(value="#{m.depcode}", selected="selected") #{m.depname}
                                        else
                                            option(value="#{m.depcode}") #{m.depname}
                    .row
                        .col-md-12#divRiskLevel
                            .form-group
                                label(for="slRisk_level") ระดับความรุนแรง
                                select#slRisk_level.form-control
                                    option(value="")
                                    for l in data.clinics
                                        if l.id == data.detail.risk_level
                                            option(value="#{l.id}",selected="selected") #{l.risk_level}
                                        else
                                            option(value="#{l.id}") #{l.risk_level}
                    .row
                        .col-md-4
                            .form-group
                                label(for="slType_report") ประเภทรายงาน
                                select#txtType_report.form-control
                                    for n in data.risk_reports
                                        if n.id == data.detail.mm
                                            option(value="#{n.id}",selected="selected") #{n.name}
                                        else
                                            option(value="#{n.id}") #{n.name}
                        .col-md-6
                            .form-group
                                label(for="txtName_report") ผู้รายงาน
                                input#txtName_report(type="text", value="#{data.detail.name_report}").form-control


                    //.row
                        .col-md-3
                            .form-group
                                label(for="txtDate_report_risk") วันที่รายงาน
                                input#txtDate_report_risk(type="date").form-control
                        .col-md-3
                            .form-group
                                label(for="txtTime_report_risk") เวลาที่รายงาน
                                input#txtTime_report_risk(type="time").form-control


                        //.col-md-8
                            .form-group
                                label(for="txtArea_risk") บริเวณที่เกิดความเสี่ยง
                                input#txtArea_risk(type="text", value="#{data.detail.area_risk}").form-control

        #part5.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 5 ทบทวนการเกิดอุบัติการณ์ (กรรมการความเสี่ยง/หัวหน้า)
                .panel-body
                    .row
                        .col-md-3
                            .form-group
                                label(for="txtDate_repeat") วันที่ทบทวน
                                if data.detail.date_repeat
                                    //input#txtDate_repeat(type="date", value="#{rows.date_repeat}").form-control
                                    #datetimepicker4.input-group(data-datepicker)
                                        input#txtDate_repeat.form-control(type='text', value="#{data.detail.date_repeat}")
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                else
                                    //input#txtDate_repeat(type="date").form-control
                                    #datetimepicker5.input-group(data-datepicker)
                                        input#txtDate_repeat.form-control(type='text')
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtName_repeat") ผู้ทบทวน
                                if data.detail.name_repeat
                                    textarea#txtName_repeat(type="text", rows="3" ).form-control #{data.detail.name_repeat}
                                else
                                    textarea#txtName_repeat(type="text",rows="3", placeholder="ชื่อผู้ทบทวน").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtResult_repeat") ผลทบทวน/การแก้ไข/มาตรการป้องกัน
                                if data.detail.result_repeat
                                    textarea#txtResult_repeat(type="text" rows="3").form-control #{data.detail.result_repeat}
                                else
                                    textarea#txtResult_repeat(type="text" rows="3", placeholder="ผลการทบทวน").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtDepcode_connected") ชื่อหหน่วยงานที่เกี่ยวข้อง
                                if data.detail.depcode_connected
                                    textarea#txtDepcode_connected(type="text", rows="3").form-control #{data.detail.depcode_connected}
                                else
                                    textarea#txtDepcode_connected(type="text", rows="3", placeholder="ชื่อหน่วยงานที่เกี่ยวข้อง").form-control
                    //.row
                        .col-md-8
                            .form-group
                                label(for="txtEdit_system") การแก้ไขเชิงระบบ
                                if data.detail.edit_system
                                    textarea#txtEdit_system(type="text" rows="3").form-control #{data.detail.edit_system}
                                else
                                    textarea#txtEdit_system(type="text" rows="3", placeholder="การแก้ไขเชิงระบบ").form-control
                    //.row
                        .col-md-3
                            .form-group
                                label(for="txtDate_finished") วันที่สิ้นสุดการแก้ไข
                                //input#txtDate_finished(type="date").form-control
                                if data.detail.date_finished
                                    #datetimepicker2.input-group(data-datepicker)
                                        input#txtDate_finished.form-control(type='text',value="#{data.detail.date_finished}")
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                else
                                    #datetimepicker2.input-group(data-datepicker)
                                        input#txtDate_finished.form-control(type='text')
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                    //.row
                        .col-md-8
                            .form-group
                                label(for="txtNote") หมายเหตุ
                                if data.detail.note
                                    textarea#txtNote(type="text" rows="3").form-control #{data.detail.note}
                                else
                                    textarea#txtNote(type="text" rows="3", placeholder="หมายเหตุ" ).form-control

        button(type="button").btn.btn-primary#btnEdit บันทึก

  //  label(for="checkboxSentinel") Sentinel event case
        | &nbsp;&nbsp;&nbsp;
        if data.detail.sentinel=="Y"
            input#checkboxSentinel(type="checkbox", checked="checked")
        else
            input#checkboxSentinel(type="checkbox")