extends  ../layout
block scripts
    script(src="/javascripts/risk_edit.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/risk_report") หัวข้อความเสี่ยง
        li.active รายละเอียดความเสี่ยง
        li #{data.detail.topic_risk}
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรอกข้อมูลไม่สมบูรณ์
    ul.nav.nav-tabs(role="tablist")
        li.active(role='presentation')
            a(href="#part1", aria-controls="part1", role="tab", data-toggle="tab") ส่วนที่ 1
        li(role='presentation')
            a(href='#part2', aria-controls='part2', role='tab', data-toggle='tab') ส่วนที่ 2
        li(role='presentation')
            a(href='#part3', aria-controls='part3', role='tab', data-toggle='tab') ส่วนที่ 3
        li(role='presentation')
            a(href='#part4', aria-controls='part4', role='tab', data-toggle='tab') ส่วนที่ 4
    .tab-content
        br
        #part1.tab-pane.active(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 1 ข้อมูลการเกิดอุบัติการณ์
                .panel-body
                    input(type="hidden" value="#{data.detail.id}")#txtId
                    .row
                        .col-md-4
                            .form-group
                                label(for="slRisktype") ประเภทอุบัติการณ์
                                select#slRisktype.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.risk_types
                                        if a.id == data.detail.type_risk
                                            option(value="#{a.id}", selected="selected") #{a.name}
                                        else
                                            option(value="#{a.id}") #{a.name}

                        .col-md-8
                            .form-grop
                                label(for="slComplaint") การจำแนกประเภท
                                select#slComplaint.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for b in data.type_complaints
                                        if b.id == data.detail.complaint_type
                                            option(value="#{b.id}", selected="selected") #{b.name}
                                        else
                                            option(value="#{b.id}") #{b.name}
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtTopic") เรื่องหัวข้อความเสี่ยง
                                input#txtTopic(type="text", value="#{data.detail.topic_risk}" placeholder="กรุณาระบุหัวข้อความเสี่ยง").form-control
                    .row
                        .col-md-3
                            .form-group
                                label(for="txtDate_risk") วันที่เกิดเหตุ
                                //input#txtDate_risk(type="date", value="#{data.detail.date_risk}").form-control
                                #datetimepicker1.input-group(data-datepicker)
                                    input#txtDate_risk.form-control(type='text',value="#{data.detail.date_risk}")
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar

                        .col-md-3
                            .form-group
                                label(for="txtTime_risk") เวลาที่เกิดเหตุ
                                //input#txtTime_risk(type="time", value="#{data.detail.time_risk}").form-control
                                .input-group(data-timepicker)
                                    input#txtTime_risk.form-control(type='text',value="#{data.detail.time_risk}")
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-time
                    //.row
                        .col-md-3
                            .form-group
                                label(for="txtDate_report_risk") วันที่รายงาน
                                input#txtDate_report_risk(type="date").form-control
                        .col-md-3
                            .form-group
                                label(for="txtTime_report_risk") เวลาที่รายงาน
                                input#txtTime_report_risk(type="time").form-control

                    .row
                        .col-md-4
                            .form-group
                                label(for="slDepartment") หน่วยงาน
                                select#slDepartment.form-control
                                    for f in data.departments
                                        if f.depcode == data.detail.depcode
                                            option(value="#{f.depcode}", selected="selected") #{f.depname}
                                        else
                                            option(value="#{f.depcode}") #{f.depname}
                        //.col-md-8
                            .form-group
                                label(for="txtArea_risk") บริเวณที่เกิดความเสี่ยง
                                input#txtArea_risk(type="text", value="#{data.detail.area_risk}").form-control
        #part2.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 2 รายละเอียดอุบัติการณ์
                .panel-body
                    .row
                        .col-md-6
                            .form-group
                                label(for="slProgram") Program
                                select#slProgram.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for p in data.programs
                                        if p.id == data.detail.risk_program
                                            option(value="#{p.id}", selected="selected") #{p.program_risk}
                                        else
                                            option(value="#{p.id}") #{p.program_risk}
                        .col-md-6#divSubProgram
                            .form-group
                                label(for="slSubProgram") Sub Program
                                select#slSubProgram.form-control
                                    for o in data.sub_programs
                                        if o.id == data.detail.risk_group
                                            option(value="#{o.id}", selected="selected") #{o.name_sub_program}
                                        else
                                            option(value="#{o.id}") #{o.name_sub_program}
                    .row
                        .col-md-6#divSubGroup
                            .form-group
                                label(for="slSubGroup") Sub Group
                                select#slSubGroup.form-control
                                    for y in data.sub_groups
                                        if y.id == data.detail.risk_sub_group
                                            option(value="#{y.id}", selected="selected") #{y.risk_detail}
                                        else
                                            option(value="#{y.id}") #{y.risk_detail}
                    //.row
                        .col-md-12
                            .form-group
                                label(for="txtNote_other") ระบุกรณีเลือกประเภทอื่นๆ
                                input#txtNote_other(type="text", value="#{data.detail.dd}").form-control
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtRisk_detail") รายละเอียดความเสี่ยง
                                textarea#txtRisk_detail(type="text",rows="3" ).form-control #{data.detail.risk_detail}
                    .row
                        .col-md-5
                            .form-group
                                label.radio(for="radioSentinel") Sentinel event case (เหตุการณ์ที่ต้องรอใน 24 ชม.)
                                | &nbsp;&nbsp;&nbsp;
                                if  data.detail.sentinel == "Y"
                                    label(value="Y", style='width:20%')
                                        input#radioYes(type='radio', name='sentinel', checked)
                                        |  ใช่
                                    label(value="N", style='width:20%')
                                        input#radioNo(type='radio', name='sentinel')
                                        |  ไม่
                                else
                                    label(value="Y", style='width:20%')
                                        input#radioYes(type='radio', name='sentinel')
                                        |  ใช่
                                    label(value="N", style='width:20%')
                                        input#radioNo(type='radio', name='sentinel', checked)
                                        |  ไม่
                    .row
                        .col-md-12#divRiskLevel
                            .form-group
                                label(for="slRisk_level") ระดับความรุนแรง
                                select#slRisk_level.form-control
                                    option(value="")
                                    for l in data.clinics
                                        if l.id == data.detail.risk_level
                                            option(value="#{l.id}",selected="selected") #{l.risk_level}
                                        else
                                            option(value="#{l.id}") #{l.risk_level}
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtRisk_correct") การแก้ไขปัญหาทันที
                                textarea#txtRisk_correct(type="text", rows="3").form-control #{data.detail.risk_correct}
        #part3.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 3 ผลกระจากการเกิดอุบัติการณ์
                .panel-body
                    #divPatient
                        .row
                            .col-md-5
                                form.form-inline
                                    .form-group
                                        label.radio(for="radiosone") ประเภทผู้ป่วย :
                                        | &nbsp;&nbsp;&nbsp;
                                        if  data.detail.sone == "OPD"
                                            label(value="OPD")
                                                input#radioOPD(type='radio', name='sone', checked)
                                                | OPD
                                            label(value="IPD")
                                                input#radioIPD(type='radio', name='sone')
                                                | IPD
                                        else
                                            label(value="OPD")
                                                input#radioOPD(type='radio', name='sone')
                                                | OPD
                                            label(value="IPD")
                                                input#radioIPD(type='radio', name='sone', checked)
                                                | IPD
                            .col-md-6
                                .form-group
                                    label(for="txtHn") HN
                                    input#txtHn(type="text", value="#{data.detail.hn}").form-control
                            .col-md-6
                                .form-group
                                    label(for="txtAn") AN
                                    input#txtAn(type="text", value="#{data.detail.an}").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_patient") ชื่อผู้ป่วย
                                    input#txtName_patient(type="text", value="#{data.detail.name_patient}").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_patient") รายละเอียด
                                    input#txtNote_patient(type="text",value="#{data.detail.note_patient}").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_kin") ญาติผู้ป่วย
                                    input#txtName_kin(type="text", value="#{data.detail.name_kin}").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_kin") รายละเอียด
                                    input#txtNote_kin(type="text", value="#{data.detail.note_kin}" ).form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_officer") เจ้าหน้าที่
                                    input#txtName_officer(type="text", value="#{data.detail.name_officer}").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_officer") รายละเอียด
                                    input#txtNote_officer(type="text", value="#{data.detail.note_officer}").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_other") อื่นๆ
                                    input#txtName_other(type="text", value="#{data.detail.name_other}").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_other2") รายละเอียด
                                    input#txtNote_other2(type="text", value="#{data.detail.note_other}").form-control
        #part4.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 4 รายละเอียดผู้รายงาน
                .panel-body
                    .row
                        .col-md-6
                            .form-group
                                label(for="slType_report") ประเภทรายงาน
                                select#txtType_report.form-control
                                    for n in data.risk_reports
                                        if n.id == data.detail.mm
                                            option(value="#{n.id}",selected="selected") #{n.name}
                                        else
                                            option(value="#{n.id}") #{n.name}
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtName_report") ผู้รายงาน
                                input#txtName_report(type="text", value="#{data.detail.name_report}").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtPosition") ตำแหน่ง
                                input#txtPosition(type="text", value="#{data.detail.position}").form-control
                    .row

                        .col-md-4
                            .form-group
                                label(for="slDepartment2") หน่วยงาน
                                select#slDepartment2.form-control
                                    for m in data.depcodes
                                        if m.id == data.detail.depcode
                                            option(value="#{m.depcode}", selected="selected") #{m.depname}
                                        else
                                            option(value="#{m.depcode}") #{m.depname}

    button(type="button").btn.btn-success#btnEdit บันทึก


   // label(for="checkboxSentinel") Sentinel event case
        | &nbsp;&nbsp;&nbsp;
        if data.detail.sentinel=="Y"
            input#checkboxSentinel(type="checkbox", checked="checked")
        else
            input#checkboxSentinel(type="checkbox") -->