extends  ../layout

block scripts
    script(src="/javascripts/request.js")

block content
    br
    ol.breadcrumb
        li
            a(href="#") หน้าหลัก
        li.active รายงานความเสี่ยง
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรอกข้อมูลไม่สมบูรณ์
    .alert.alert-warning(role="alert",style="display: none;")#divAlertRadio
        i.fa.fa-warning
        | &nbsp; กรุณาเลือกข้อมูล (เหตุการณ์ที่ต้องรอใน 24 ชม.)
    ul.nav.nav-tabs(role="tablist")
        li.active(role='presentation')
            a(href="#part1", aria-controls="part1", role="tab", data-toggle="tab") ส่วนที่ 1
        li(role='presentation')
            a(href='#part2', aria-controls='part2', role='tab', data-toggle='tab') ส่วนที่ 2
        li(role='presentation')
            a(href='#part3', aria-controls='part3', role='tab', data-toggle='tab') ส่วนที่ 3
        li(role='presentation')
            a(href='#part4', aria-controls='part4', role='tab', data-toggle='tab') ส่วนที่ 4

    .tab-content
        br
        #part1.tab-pane.active(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 1 ข้อมูลการเกิดอุบัติการณ์
                .panel-body
                    .row
                        .col-md-4
                            .form-group.has-feedback
                                label(for="slRisktype") ประเภทอุบัติการณ์
                                select#slRisktype.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.risk_types
                                        option(value="#{a.id}") #{a.name}
                        .col-md-8
                            .form-group.has-feedback
                                label(for="slComplaint") การจำแนกประเภท
                                select#slComplaint.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for b in data.type_complaints
                                        option(value="#{b.id}") #{b.name}
                    .row
                        .col-md-12
                            .form-group.has-feedback
                                label(for="txtTopic") เรื่องหัวข้อความเสี่ยง
                                input#txtTopic(type="text" placeholder="กรุณาระบุหัวข้อความเสี่ยง").form-control.css-require
                    .row
                        .col-md-3
                            .form-group
                                label(for="txtDate_risk") วันที่เกิดเหตุ
                                //input#txtDate_risk(type="date", value="#{data.detail.date_risk}").form-control
                                #datetimepicker1.input-group(data-datepicker)
                                    input#txtDate_risk.form-control(type='text')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar
                        .col-md-3
                            .form-group
                                label(for="txtTime_risk") เวลาที่เกิดเหตุ
                                //input#txtTime_risk(type="time", value="#{data.detail.time_risk}").form-control
                                .input-group(data-timepicker)
                                    input#txtTime_risk.form-control(type='text')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-time
                    //.row
                        .col-md-3
                            .form-group.has-feedback
                                label(for="txtDate_risk") วันที่เกิดเหตุ
                                input#txtDate_risk(type="date").form-control.css-require
                        .col-md-3
                            .form-group.has-feedback
                                label(for="txtTime_risk") เวลาที่เกิดเหตุ
                                input#txtTime_risk(type="time").form-control.css-require
                    .row
                        .col-md-4
                            .form-group
                                label(for="slDepartment") หน่วยงานที่เกิดความเสี่ยง
                                select#slDepartment.form-control
                                    option(value="") กรุณาเลือกรายการ....
                                    for d in data.departments
                                        option(value="#{d.depcode}") #{d.depname}
                        //.col-md-8
                            .form-group.has-feedback
                                label(for="txtArea_risk") บริเวณที่เกิดความเสี่ยง
                                input#txtArea_risk(type="text" placeholder="บริเวณที่เกิดความเสี่ยง").form-control.css-require


        #part2.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 2 รายละเอียดอุบัติการณ์
                .panel-body
                    .row
                        .col-md-6
                            .form-group.has-feedback
                                label(for="slProgram") Program
                                select#slProgram.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for p in data.programs
                                        option(value="#{p.id}") #{p.program_risk}
                        .col-md-6#divSubProgram
                            .form-group.has-feedback
                                label(for="slSubProgram") Sub Program
                                select#slSubProgram.form-control.css-require
                    .row
                        .col-md-6#divSubGroup
                            .form-group.has-feedback
                                label(for="slSubGroup") Sub Group
                                select#slSubGroup.form-control.css-require
                    //.row
                        .col-md-12
                            .form-group
                                label(for="txtNote_other") ระบุกรณีเลือกประเภทอื่นๆ
                                input#txtNote_other(type="text" placeholder="ระบุกรณีเลือกประเภทอื่นๆ").form-control
                    .row
                        .col-md-12
                            .form-group.has-feedback
                                label(for="txtRisk_detail") รายละเอียดความเสี่ยง
                                textarea#txtRisk_detail(type="text" rows="3" placeholder="รายละเอียดความเสี่ยง").form-control.css-require
                    .row
                        .col-md-7
                            .form-group
                                label.radio(for="radioSentinel") Sentinel event case (เหตุการณ์ที่ต้องรายงานภายใน 24 ชม.)
                                | &nbsp;&nbsp;&nbsp;
                                label(value='Y', style='width:20%')
                                    input#radioYes(type='radio', name='sentinel')
                                    |  ใช่
                                label(value='N', style='width:20%')
                                    input#radioNo(type='radio', name='sentinel',checked)
                                    |  ไม่
                    .row
                        .col-md-12#divRiskLevel
                            .form-group.has-feedback
                                label(for="slRisk_level") ระดับความรุนแรง
                                select#slRisk_level.form-control.css-require
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtRisk_correct") การแก้ไขปัญหาทันที
                                textarea#txtRisk_correct(type="text" rows="3" placeholder="การแก้ไขปัญหาทันที").form-control


        #part3.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 3 ผลกระจากการเกิดอุบัติการณ์
                .panel-body
                    #divPatient
                        .row
                            .col-md-6
                                form.form-inline
                                    .form-group
                                        label.radio(for="radioSone") ประเภทผู้ป่วย :
                                        | &nbsp;&nbsp;&nbsp;&nbsp;
                                        label(value='OPD')
                                        input#radioOPD(type='radio', name='sone',checked)
                                        |OPD
                                        | &nbsp;&nbsp;&nbsp;&nbsp;
                                        label(value='IPD')
                                        input#radioIPD(type='radio', name='sone')
                                        |IPD
                            .col-md-3
                                .form-group
                                    label(for="txtHn") HN
                                    input#txtHn(type="text" placeholder="HN กรณีผู้ป่วยนอก").form-control
                            .col-md-3
                                .form-group
                                    label(for="txtAn") AN
                                    input#txtAn(type="text" placeholder="AN กรณีผู้ป่วยใน").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_patient") ชื่อผู้ป่วย
                                    input#txtName_patient(type="text" placeholder="ชื่อผู้ป่วย").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_patient") รายละเอียด
                                    input#txtNote_patient(type="text" placeholder="รายละเอียด").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_kin") ญาติผู้ป่วย
                                    input#txtName_kin(type="text" placeholder="ชื่อญาติผู้ป่วย").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_kin") รายละเอียด
                                    input#txtNote_kin(type="text" placeholder="รายละเอียด").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_officer") เจ้าหน้าที่
                                    input#txtName_officer(type="text" placeholder="ชื่อเจ้าหน้าที่").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_officer") รายละเอียด
                                    input#txtNote_officer(type="text" placeholder="รายละเอียด").form-control
                        .row
                            .col-md-4
                                .form-group
                                    label(for="txtName_other") อื่นๆ
                                    input#txtName_other(type="text" placeholder="อื่นๆ นอกจากผลกระทบตัวบุคคล").form-control
                            .col-md-8
                                .form-group
                                    label(for="txtNote_other2") รายละเอียด
                                    input#txtNote_other2(type="text" placeholder="รายละเอียด").form-control

        #part4.tab-pane(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 4 รายละเอียดผู้รายงาน
                .panel-body
                    .row
                        .col-md-6
                            .form-group.has-feedback
                                label(for="slType_report") ประเภทรายงาน
                                select#txtType_report.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ.....
                                    for e in data.risk_reports
                                        option(value="#{e.id}") #{e.name}
                    .row
                        .col-md-8
                            .form-group.has-feedback
                                label(for="txtName_report") ผู้รายงาน
                                input#txtName_report(type="text" placeholder="ชื่อผู้รายงาน").form-control.css-require
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtPosition") ตำแหน่ง
                                input#txtPosition(type="text" placeholder="ตำแหน่ง").form-control
                    .row
                        .col-md-4
                            .form-group
                                label(for="slDepartment2") หน่วยงาน
                                select#slDepartment2.form-control
                                    for m in data.depcodes
                                        option(value="#{m.depcode}") #{m.depname}


    button(type="button").btn.btn-success#btnSave บันทึก



