extends  ../admin_layout

block scripts
    script(src="/javascripts/program-detail.js")

block content
    br
    ol.breadcrumb
        li
            a(href="#") หน้าหลัก
        li.active รายการอุบัติการณ์ความเสี่ยง
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    label ค้นหาจากหมวดหมู่อุบัติการณ์/ความเสี่ยง
                        | &nbsp;&nbsp;
                    select.form-control#slDetail_risk
                        option(value="") กรุณาเลือกรายการ....
                        for p in data.groups
                            option(value="#{p.id}") #{p.name_sub_program}
                    button#btnSearch_detail_risk(type="button").btn.btn-success.btn-sm ค้นหา
            br
            .row
                .col-md-12
                    label รายการอุบัติการณ์/ความเสี่ยง
                        | &nbsp;&nbsp;
                    .input-group
                        .input-group-btn
                            input#txtSearch_detail(type="text",placeholder="Search..").form-control
                            button#btnSearch_detail(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการอุบัติการณ์ความเสี่ยง
        .panel-body
            buton.btn.btn-success.btn-sm.pull-right#btnShowModal
                i.fa.fa-plus
                | &nbsp; เพิ่มรายการ
            table.table.striped#tblRiskDetail
                thead
                    tr
                        td ลำดับ
                        td รายการ
                        td กลุ่ม
                        td แก้ไข/ลบ
                    tbody
            ul.pagination#paging

    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-lable='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title  เพิ่ม/แก้ไขรายการ
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    .form-group
                        label(for="txtName") รายการ
                        input(type="text")#txtName.form-control
                    .form-group
                        label(for="slGroup") กลุ่มความเสี่ยง
                        select.form-control#slGroup
                            option(value="") ไม่มี
                            for g in data.groups
                                option(value="#{g.id}") #{g.name_sub_program}
                    .form-group
                        label(for="slProgram") โปรแกรมความเสี่ยง
                        select.form-control#slProgram
                            for p in data.programs
                                option(value="#{p.id}") #{p.program_risk}
                    .modal-footer
                        button.btn.btn-primary#btnAdd
                            i.fa.fa-save
                            | &nbsp; บันทึก
                        button.btn.btn-danger(data-dismiss="modal")
                            | &nbsp; ปิดหน้าต่าง